* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: black;
}

.piano {
  position: relative;
  display: flex;
  height: 160px;
  width: 320px;
  background-color: black;
}

.white_keys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.white_key {
  height: 100%;
  width: 6%;

  background-color: white;
}

.black_keys {
  position: absolute;
  left: 3.5%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.black_key {
  height: 50%;
  width: 6%;
  background-color: black;
}

.black_key:nth-of-type(3),
.black_key:nth-of-type(7),
.black_key:nth-of-type(11),
.black_key:nth-of-type(14),
.black_key:nth-of-type(15) {
  opacity: 0;
}

@media (min-width: 540px) {
  .piano {
    height: 240px;
    width: 480px;
  }
}

@media (min-width: 720px) {
  .piano {
    height: 320px;
    width: 640px;
  }
}

@media (min-width: 1024px) {
  .piano {
    height: 420px;
    width: 840px;
  }
}
