* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: hsl(0, 0%, 0%);
}

.piano {
  position: relative;
  display: flex;
  height: 160px;
  width: 320px;
  background-color: hsl(0, 0%, 0%);
}

.keys {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1%;

  border-width: 0px 3px 4.5px;
  border-radius: 0px 0px 3px 3px;

  transition: 0.5s;
  transform-origin: top;
}

.key_hint {
  font-size: 1em;
}

.white_keys {
  align-items: center;
}

.white_key {
  height: 100%;
  width: 6%;

  background-color: hsl(0, 0%, 100%);
}

.white_key:hover,
.white_key--hover {
  background-color: hsl(0, 0%, 50%);
}

.white_key:active,
.white_key--active {
  transform: scaleY(98%);
}

.key_hint--white {
  color: hsl(0, 0%, 0%);
}

.black_keys {
  position: absolute;
  left: 3.5%;
  height: 50%;
}

.black_key {
  width: 6%;
  background-color: hsl(0, 0%, 15%);
  border: 1px solid hsl(0, 0%, 0%);
  border-bottom-color: hsl(0, 0%, 30%);
}

.black_key:hover,
.black_key--hover {
  background-color: hsl(0, 0%, 50%);
  border-color: hsl(0, 0%, 35%);
  border-bottom-color: hsl(0, 0%, 65%);
}

.black_key:active,
.black_key--active {
  border-bottom-width: 4px;
  transform: scaleY(98%);
}

.black_key:nth-of-type(3),
.black_key:nth-of-type(7),
.black_key:nth-of-type(10),
.black_key:nth-of-type(14),
.black_key:nth-of-type(15) {
  opacity: 0;
}

.key_hint--black {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 540px) {
  .piano {
    height: 240px;
    width: 480px;
  }
}

@media (min-width: 720px) {
  .piano {
    height: 320px;
    width: 640px;
  }

  .key_hint {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .piano {
    height: 480px;
    width: 960px;
  }

  .key_hint {
    font-size: 2em;
  }

  .white_key,
  .black_key {
    border-width: 0px 6px 9px;
    border-radius: 0px 0px 10px 10px;
  }

  .black_key:active,
  .black_key--active {
    border-bottom-width: 8px;
  }
}
