* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: hsl(0, 0%, 0%);
}

.piano {
  position: relative;
  display: flex;
  height: 160px;
  width: 320px;
  background-color: hsl(0, 0%, 0%);
}

.white_keys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.white_key {
  height: 100%;
  width: 6%;

  background-color: hsl(0, 0%, 100%);
  border-width: 0px 3px 4.5px;
  border-radius: 0px 0px 3px 3px;

  transition: 0.5s;
}

.white_key:hover {
  background-color: hsl(0, 0%, 50%);
}

.black_keys {
  position: absolute;
  left: 3.5%;
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.black_key {
  width: 6%;
  background-color: hsl(0, 0%, 15%);
  border: 1px solid hsl(0, 0%, 0%);
  border-width: 0px 3px 4.5px;
  border-bottom-color: hsl(0, 0%, 30%);
  border-radius: 0px 0px 3px 3px;

  transition: 0.5s;
}

.black_key:hover {
  background-color: hsl(0, 0%, 50%);
  border-color: hsl(0, 0%, 35%);
  border-bottom-color: hsl(0, 0%, 65%);
}

.black_key:nth-of-type(3),
.black_key:nth-of-type(7),
.black_key:nth-of-type(11),
.black_key:nth-of-type(14),
.black_key:nth-of-type(15) {
  opacity: 0;
}

@media (min-width: 540px) {
  .piano {
    height: 240px;
    width: 480px;
  }
}

@media (min-width: 720px) {
  .piano {
    height: 320px;
    width: 640px;
  }
}

@media (min-width: 1024px) {
  .piano {
    height: 480px;
    width: 960px;
  }

  .white_key,
  .black_key {
    border-width: 0px 6px 9px;
    border-radius: 0px 0px 10px 10px;
  }
}
